
.about-container{
    display: grid;
    justify-content: center;
}
/* Apply only to immediate h1 child of about container*/
.about-container > h1{
   color: #2e4b2e;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: auto;
}

.about-info{ 
    margin: auto;
    width: 1100px;
    padding-bottom: 50px;
}
.about-info p{
    text-align: justify;
    font-family: Georgia, serif;
    font-size: 22px;  
    line-height: 40px; 
}
.about-info h2{
    color: #2E4B2E;
    font-size: 50px;
    margin-bottom: 0px;
}

.services-container{
    display:block;
    margin: auto;
    padding: 60px;
    background-color: #e5e5e53b;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 950px;
}
.services-container h2{
    color: #2E4B2E;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px; 
}
/* Controls for landscaping page .services */
.services ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.services li {
    align-items: center;
    background-color: #ffffff42;
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 21px;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    text-align: left;
}

.services li::after{
    content: '✓';
    color: #447144;
    position: relative;
    width: 20px;
    text-align: center;
}
@media(max-width:860px){
    .about-info{
        width: 650px;
    }
    .services-container{
        width: 650px;
    }

}

@media(max-width:700px){
    .about-info{
        width: 400px;
    }
    .services-container{
        width: 400px;
        padding: 10px;
    }
    .services li{
        padding: 5px;
        font-size: 16px;
    }
}
@media(max-width:400px){
    .about-info{
        width: 320px;
    }
    .services-container{
        width: 320px;
        padding: 8px;
    }
    .services li{
        font-size: 12px;
    }
}