.contact-container{
   display: grid;
   justify-content: center;
}
.contact-container > h1{
    color: #2E4B2E;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: georgia,serif;
}
.contact-intro{
    margin: auto;
    max-width: 1100px;

}
.contact-intro h2{
    color: #2E4B2E;
    font-size: 45px;
    margin: 20px auto;
    justify-self: center;
}

.contact-intro p{
    font-family: Georgia, serif;
    text-align: justify;
    font-size: 22px;
    line-height: 40px;
}

@media(max-width:860px){
    .contact-intro{
        max-width: 700px;
    }
}

@media(max-width:640px){
    .contact-intro{
        padding: 10px;
    }
    
    .contact-intro h2{
        margin: 30px 10px;
    }
    .contact-intro p{
        font-size: 19px;
    }
}