:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  background: linear-gradient(to bottom, #395e394b, #395e39);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.ramirezLogo{
  width: 450px;
  margin: auto;
}


